/* h1{
    font-size: 40px;
} */


/* 
@media (max-width: 700px) and (min-width: 400px), (min-width: 1000px) {
    h1{
        color: blue;
        font-size: 15px;
    }
}
 */

 /* @media (max-width: 700px) {
     h1{
         color: blueviolet;
     }
 } */

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 50px;
    gap: 35px;
}
.child{
    background-color: #ccc;
    padding: 30px;
    box-shadow: 0 0 40px -22px #000;
    border-radius: 20px;
}

.header{
    margin: 0;
    font-size: 25px;
}
.desc{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

@media (max-width: 1600px) {
    .header{
        font-size: 20px;
    }
    .desc{
        font-size: 10px;
    }
    .body{
        font-size: 13px;
    }
}

@media (max-width: 1300px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .container{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 500px) {
    .container{
        margin: 50px 20px;
        gap: 20px;
    }

    .child{
        border-radius: 5px;
        box-shadow: none;
        padding: 20px;
    }
}


@media (max-width: 350px) {
    .container{
        margin: 20px 4px;
        gap: 10px;
    }
    .child{
        border-radius: 5px;
        box-shadow: none;
        padding: 20px;
    }
}


